body{
    background: linear-gradient(90deg, hsla(112, 75%, 27%, 1) 0%, hsla(212, 75%, 27%, 1) 100%);
    color: white;
}

.first-div{
    padding: 20px;
    background: linear-gradient(90deg, hsla(278, 75%, 52%, 1) 0%, hsla(378, 75%, 52%, 1) 100%);
}